In [46]:
import os
import pandas as pd
import numpy as np
import seaborn as sns

In [25]:
os.getcwd()

'/Users/echysanndah/Documents/loancasestudy'

In [57]:
df = pd.read_csv('loan.csv', sep=',', error_bad_lines=False, index_col=False, dtype='str')

In [8]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,Unnamed: 110
0,1077501,1296599,5000,5000,4975,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN

In [9]:
len(df)

39717

In [17]:
df.isnull().sum(axis = 0)

id                             0
member_id                      0
loan_amnt                      0
funded_amnt                    0
funded_amnt_inv                0
term                           0
int_rate                       0
installment                    0
grade                          0
sub_grade                      0
home_ownership                 0
annual_inc                     0
verification_status            0
issue_d                        0
loan_status                    0
pymnt_plan                     0
url                            0
purpose                        0
title                         11
zip_code                       0
addr_state                     0
dti                            0
delinq_2yrs                    0
earliest_cr_line               0
inq_last_6mths                 0
open_acc                       0
revol_bal                      0
total_acc                      0
initial_list_status            0
out_prncp                      0
out_prncp_inv                  0
total_pymnt                    0
total_pymnt_inv                0
total_rec_prncp                0
total_rec_int                  0
total_rec_late_fee             0
recoveries                     0
collection_recovery_fee        0
last_pymnt_amnt                0
last_credit_pull_d             2
policy_code                    0
application_type               0
Unnamed: 110               39717
dtype: int64

In [14]:
drop_list = ['next_pymnt_d',
            'collections_12_mths_ex_med',
            'acc_now_delinq',
            'chargeoff_within_12_mths',
            'delinq_amnt',
            'pub_rec_bankruptcies',
            'tax_liens',
            'mths_since_last_delinq',
             'mths_since_last_record',
            'pub_rec',
            'mths_since_last_major_derog',
            'annual_inc_joint',
            'dti_joint',
            'verification_status_joint',
            'tot_coll_amt',
            'tot_cur_bal',
            'open_acc_6m',
            'open_il_6m',
            'open_il_12m',
            'open_il_24m',
            'mths_since_rcnt_il',
            'total_bal_il',
            'il_util',
            'open_rv_12m',
            'open_rv_24m',
            'max_bal_bc',
            'all_util',
            'total_rev_hi_lim',
            'inq_fi',
            'total_cu_tl',
            'inq_last_12m',
            'acc_open_past_24mths',
            'avg_cur_bal',
            'bc_open_to_buy',
            'bc_util',
            'mo_sin_old_il_acct',
            'mo_sin_old_rev_tl_op',
            'mo_sin_rcnt_rev_tl_op',
            'mo_sin_rcnt_tl',
            'mort_acc',
            'mths_since_recent_bc',
            'mths_since_recent_bc_dlq',
            'mths_since_recent_inq',
            'mths_since_recent_revol_delinq',
            'num_accts_ever_120_pd',
            'num_actv_bc_tl',
            'num_actv_rev_tl',
            'num_bc_sats',
            'num_bc_tl',
            'num_il_tl',
            'num_op_rev_tl',
            'num_rev_accts',
            'num_rev_tl_bal_gt_0',
            'num_sats',
            'num_tl_120dpd_2m',
            'num_tl_30dpd',
            'num_tl_op_past_12m',
            'pct_tl_nvr_dlq',
            'percent_bc_gt_75',
            'tot_hi_cred_lim',
            'total_bal_ex_mort',
            'total_bc_limit',
            'emp_title',
            'emp_length',
            'desc',
            'revol_util',
            'last_pymnt_d',
            'num_tl_90g_dpd_24m',
            'total_bc_limit',
            'total_il_high_credit_limit']

In [18]:
df.drop(drop_list, inplace= True, axis=1)

KeyError: "['next_pymnt_d' 'collections_12_mths_ex_med' 'acc_now_delinq'\n 'chargeoff_within_12_mths' 'delinq_amnt' 'pub_rec_bankruptcies'\n 'tax_liens' 'mths_since_last_delinq' 'mths_since_last_record' 'pub_rec'\n 'mths_since_last_major_derog' 'annual_inc_joint' 'dti_joint'\n 'verification_status_joint' 'tot_coll_amt' 'tot_cur_bal' 'open_acc_6m'\n 'open_il_6m' 'open_il_12m' 'open_il_24m' 'mths_since_rcnt_il'\n 'total_bal_il' 'il_util' 'open_rv_12m' 'open_rv_24m' 'max_bal_bc'\n 'all_util' 'total_rev_hi_lim' 'inq_fi' 'total_cu_tl' 'inq_last_12m'\n 'acc_open_past_24mths' 'avg_cur_bal' 'bc_open_to_buy' 'bc_util'\n 'mo_sin_old_il_acct' 'mo_sin_old_rev_tl_op' 'mo_sin_rcnt_rev_tl_op'\n 'mo_sin_rcnt_tl' 'mort_acc' 'mths_since_recent_bc'\n 'mths_since_recent_bc_dlq' 'mths_since_recent_inq'\n 'mths_since_recent_revol_delinq' 'num_accts_ever_120_pd' 'num_actv_bc_tl'\n 'num_actv_rev_tl' 'num_bc_sats' 'num_bc_tl' 'num_il_tl' 'num_op_rev_tl'\n 'num_rev_accts' 'num_rev_tl_bal_gt_0' 'num_sats' 'num_tl_120dpd_2m'\n 'num_tl_30dpd' 'num_tl_op_past_12m' 'pct_tl_nvr_dlq' 'percent_bc_gt_75'\n 'tot_hi_cred_lim' 'total_bal_ex_mort' 'total_bc_limit' 'emp_title'\n 'emp_length' 'desc' 'revol_util' 'last_pymnt_d' 'num_tl_90g_dpd_24m'\n 'total_bc_limit' 'total_il_high_credit_limit'] not found in axis"

In [19]:
df.isnull().sum(axis = 0)

id                             0
member_id                      0
loan_amnt                      0
funded_amnt                    0
funded_amnt_inv                0
term                           0
int_rate                       0
installment                    0
grade                          0
sub_grade                      0
home_ownership                 0
annual_inc                     0
verification_status            0
issue_d                        0
loan_status                    0
pymnt_plan                     0
url                            0
purpose                        0
title                         11
zip_code                       0
addr_state                     0
dti                            0
delinq_2yrs                    0
earliest_cr_line               0
inq_last_6mths                 0
open_acc                       0
revol_bal                      0
total_acc                      0
initial_list_status            0
out_prncp                      0
out_prncp_inv                  0
total_pymnt                    0
total_pymnt_inv                0
total_rec_prncp                0
total_rec_int                  0
total_rec_late_fee             0
recoveries                     0
collection_recovery_fee        0
last_pymnt_amnt                0
last_credit_pull_d             2
policy_code                    0
application_type               0
Unnamed: 110               39717
dtype: int64

In [44]:
import matplotlib.pyplot as plt
from collections import counter
import seaborn as sns

ImportError: cannot import name 'counter' from 'collections' (/Users/echysanndah/opt/anaconda3/lib/python3.9/collections/__init__.py)

In [30]:
frequencies = {}
for x in ['id']:
    if x in frequencies:
        frequencies[x] +=1
    else:
        frequencies[x] =1
print(frequencies)

{'id': 1}

In [39]:
print (df.groupby('id')['id'].nunique())

id
1000007    1
1000030    1
1000033    1
1000045    1
1000067    1
          ..
999951     1
999955     1
999981     1
999983     1
999989     1
Name: id, Length: 39717, dtype: int64

In [42]:
print (df.groupby('addr_state')['addr_state'].nunique())

addr_state
AK    1
AL    1
AR    1
AZ    1
CA    1
CO    1
CT    1
DC    1
DE    1
FL    1
GA    1
HI    1
IA    1
ID    1
IL    1
IN    1
KS    1
KY    1
LA    1
MA    1
MD    1
ME    1
MI    1
MN    1
MO    1
MS    1
MT    1
NC    1
NE    1
NH    1
NJ    1
NM    1
NV    1
NY    1
OH    1
OK    1
OR    1
PA    1
RI    1
SC    1
SD    1
TN    1
TX    1
UT    1
VA    1
VT    1
WA    1
WI    1
WV    1
WY    1
Name: addr_state, dtype: int64

In [62]:
sns.set_theme(style="darkgrid")
df= sns.load_dataset("df")
sns.countplot(x="addr_state", data=df)

ValueError: 'df' is not one of the example datasets.

In [69]:
df.hist(coloumn='id');

ValueError: hist method requires numerical or datetime columns, nothing to plot.

In [74]:
bar1= df.plot.pie(y'loan_status', figsize=(5, 5))

SyntaxError: invalid syntax (2698794811.py, line 1)